.banner {
    margin: 4vw;
    width: 93vw;
    background-image: url(../images/banner-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;

    &__nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        &--pcNav {
            display: none;
        } 
    }

    &__article {
        text-align: center;
        color: white;

        &--title {
            font-size: 150%;
            white-space: normal;
            font-weight: 900;
            margin-bottom: 30px;
            font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

            &--nobold {
                font-weight: 300;
            }
        }

        &--paragraph {
            line-height: 30px;
            font-family: "Lato";

        }

        &--btn {
            background: linear-gradient(90deg, rgba(72, 223, 223, 1) 0%, rgba(23, 158, 208, 1) 100%);
            padding: 15px 25px;
            color: white;
            border-radius: 5px;
            margin: 20px;
        }

    }

    &__hero {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        width: 90vw;

    }
}
.spot{
    width: 10px;
    padding: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
}

.brands {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    & img {
        margin: 10px;
        width: 100px;
        opacity: 0.5;
    }
}

