//Variables
@mixin h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    letter-spacing: -1;
}

@mixin h3 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

@mixin h4 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

@mixin text {
    font-family: 'Lato';
    font-size: 15px;
    line-height: 25px;
    color: #595353;
}

@mixin learn {
    font-family: 'Lato';
    font-size: 15px;
    line-height: 25px;
    color: black;
    text-decoration: none;
}

@mixin block {
    border-radius: 5%;
    box-shadow: 0px 0px 25px lightgray;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}


hr {
    border: 2px solid #fe7881;
    width: 8vw;
    margin-top: 20px;
    margin-bottom: -5px;
}

.sectionB {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 4%;
    width: 92%;
    align-items: center;
    box-sizing: border-box;
}

.BBlocks_frame, .DBlocks_frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title {
    width: 48vw;
    padding: 0 5%;
    margin: auto;
        h2 {
        @include h2();
        text-align: center;
        span {
            font-weight: 500;
        }
    }
}

.BBlocks {
    @include block();
    padding: 3%;
    h3 {
        @include h3();
        margin-top: 2vh;
    }

    a {
        @include learn();
    }
}

p {
    @include text();
    text-align: center;
}

.img {
    position: relative;
    left: 0%;
    width: 100px;
    height: 100px;
    &Bg {
        position: absolute;
        }
    &Fg {
        position: absolute;
        //border: 1px solid red;
        left: 18%;
        top: 18%
        }
    i {
        position: absolute;
        left: 35%;
        top: 37%;
        font-size: 30px;
        color: white;
    }
}

//____________SECTION D_______________

.DBlocks {
    @include block();
    border: 10px;
}

.DBlock_img {
    position: relative;
    img {
        width: 300px;
    }
    .D_socials {
        position: absolute;
        top: 75%;
        left: 18%;
        width: 200px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255,255,255, 0.25);
        height: 50px;
        i {
            color: white;
            opacity: 100%;
        }
    }
}

.DBlocks_teamDescr {
    h4 {
        @include h4();
    }
}



@media only screen and (max-width: 350px) {
    body {
      width: 100vw;

    }
    .title {      
        width: 80vw;
        h2{
            font-size: 16px;
        }
    }
    hr {
        width: 33vw;
    }
    .BBlocks, .DBlocks {
        width: 75vw;
        .img {
            width: 50%;
            height: 9vh;
            &Bg {
                width: 70%;
                left: 19%;
            }
            &Fg {
                width: 45%;
                left: 30%
            }
            i {
                font-size: 15px;
                left: 41%     
            }
        }
        
        h3 {
            font-size: 12px;
            margin: 0px;
        }

        p, a {
            font-size: 10px;
            line-height: 16px;
            padding: 0 5px 5px 5px;
        }
        .imgTeam {
            width: 75vw;
        }
        .D_socials {
            width: 50vw;
            height: 18%;
        }
    }
  }




/*# sourceMappingURL=style.scss.map */
