* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.about .sec {
  width: 92vw;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 100px;
}
.about .sec hr {
  width: 30%;
  height: 5px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
}
.about .sec .left {
  width: 100%;
}
.about .sec .left h2 {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
}
.about .sec .left span {
  font-weight: 900;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.about .sec .left p {
  color: #818086;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.about .sec button {
  margin: 40px 0px 40px 0px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
  border-radius: 8px;
  color: white;
  font-size: 14px;
  width: 142px;
  height: 49px;
}
.about .sec .right {
  width: 100%;
}
.about .sec .right svg {
  width: 100%;
  height: auto;
  display: block;
}
.about .sec svg {
  display: none;
}
.about .videosec {
  width: 92vw;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 100px;
}
.about .videosec .left {
  overflow: hidden;
  position: relative;
  height: 80vw;
  width: 92vw;
  margin-bottom: 40px;
}
.about .videosec .left .back {
  position: absolute;
  width: 85vw;
  top: 50px;
  right: 50px;
}
.about .videosec .left img {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 85vw;
  height: auto;
}
.about .videosec .right hr {
  width: 30%;
  height: 5px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
}
.about .videosec .right h2 {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
}
.about .videosec .right span {
  font-weight: 900;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.about .videosec .right p {
  color: #818086;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.about .videosec .cercle {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.about .videosec .cercle .cercle_2 {
  height: 108px;
  width: 80px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
  border-radius: 65px 65px 65px 65px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .videosec .cercle .cercle_1 {
  height: 108px;
  width: 80px;
  background: linear-gradient(to right, #32c5c2, #129ad1);
  border-radius: 65px 65px 65px 65px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .videosec .cercle .cercle_3 {
  height: 108px;
  width: 80px;
  background: linear-gradient(to right, #361ec0, #2e7fec);
  border-radius: 65px 65px 65px 65px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
}
.about .videosec .cercle p {
  transform: rotate(-45deg);
  color: white;
  font-family: "Poppins";
  text-align: center;
}
.about .videosec .cercle p span {
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: initial;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
