* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.about .sec {
  width: 92vw;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 100px;
}
.about .sec hr {
  width: 30%;
  height: 5px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
}
.about .sec .left {
  width: 100%;
}
.about .sec .left h2 {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
}
.about .sec .left span {
  font-weight: 900;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.about .sec .left p {
  color: #818086;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.about .sec button {
  margin: 40px 0px 40px 0px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
  border-radius: 8px;
  color: white;
  font-size: 14px;
  width: 142px;
  height: 49px;
}
.about .sec .right {
  width: 100%;
}
.about .sec .right svg {
  width: 100%;
  height: auto;
  display: block;
}
.about .sec svg {
  display: none;
}
.about .videosec {
  width: 92vw;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 100px;
}
.about .videosec .left {
  overflow: hidden;
  position: relative;
  height: 80vw;
  width: 92vw;
  margin-bottom: 40px;
}
.about .videosec .left .back {
  position: absolute;
  width: 85vw;
  top: 50px;
  right: 50px;
}
.about .videosec .left img {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 85vw;
  height: auto;
}
.about .videosec .right hr {
  width: 30%;
  height: 5px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
}
.about .videosec .right h2 {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
}
.about .videosec .right span {
  font-weight: 900;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.about .videosec .right p {
  color: #818086;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.about .videosec .cercle {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.about .videosec .cercle .cercle_2 {
  height: 108px;
  width: 80px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
  border-radius: 65px 65px 65px 65px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .videosec .cercle .cercle_1 {
  height: 108px;
  width: 80px;
  background: linear-gradient(to right, #32c5c2, #129ad1);
  border-radius: 65px 65px 65px 65px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .videosec .cercle .cercle_3 {
  height: 108px;
  width: 80px;
  background: linear-gradient(to right, #361ec0, #2e7fec);
  border-radius: 65px 65px 65px 65px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
}
.about .videosec .cercle p {
  transform: rotate(-45deg);
  color: white;
  font-family: "Poppins";
  text-align: center;
}
.about .videosec .cercle p span {
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: initial;
  font-size: 12px;
}

hr {
  border: 3px solid #fe7881;
  width: 8vw;
  margin-top: 20px;
}

.sectionB, .sectionD, .sectionE {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  align-items: center;
  box-sizing: border-box;
}

.BBlocks_frame, .DBlocks_frame, .EBlocks_frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title {
  width: 48vw;
  padding: 0 5%;
  margin: auto;
}
.title h2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
  letter-spacing: -1;
  text-align: center;
}
.title h2 span {
  font-weight: 500;
}

.BBlocks {
  border-radius: 3%;
  box-shadow: 0px 0px 25px #f6f6f6;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  width: 275px;
  padding: 15px 0px;
}
.BBlocks h3 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  margin-top: 2vh;
}
.BBlocks a {
  font-family: "Lato";
  font-size: 15px;
  line-height: 25px;
  color: black;
  text-decoration: none;
}
.BBlocks p {
  font-family: "Lato";
  font-size: 15px;
  line-height: 25px;
  color: #706f76;
  text-align: center;
  width: 90%;
}

.img {
  position: relative;
  left: 0%;
  width: 100px;
  height: 100px;
}
.imgBg {
  position: absolute;
}
.imgFg {
  position: absolute;
  left: 18%;
  top: 18%;
}
.img i {
  position: absolute;
  left: 35%;
  top: 37%;
  font-size: 30px;
  color: white;
}

.DBlocks {
  border-radius: 3%;
  box-shadow: 0px 0px 25px #f6f6f6;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  border: 10px;
}

.DBlock_img {
  position: relative;
}
.DBlock_img img {
  width: 100%;
}
.DBlock_img .D_socials {
  position: absolute;
  top: 75%;
  left: 18%;
  width: 200px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  height: 50px;
}
.DBlock_img .D_socials i {
  color: white;
  opacity: 100%;
}

.DBlocks_teamDescr h4 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}
.DBlocks_teamDescr p {
  font-family: "Lato";
  font-size: 15px;
  line-height: 25px;
  color: #706f76;
  text-align: center;
}
.DBlocks_teamDescr > * {
  margin: 10px 0;
}

.sectionE {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionE .fa-ellipsis {
  margin: auto;
  color: #fe7881;
  font-size: 50px;
}

.EBlocks {
  border-radius: 3%;
  box-shadow: 0px 0px 25px #f6f6f6;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  height: fit-content;
  margin: 10px;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
}
.EBlocks_header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.EBlocks_header > * {
  color: #fe7881;
  font-size: 20px;
  margin: 20px 10px 0px 10px;
}
.EBlocks_text {
  font-family: "Lato";
  font-size: 15px;
  line-height: 25px;
  color: #706f76;
  width: 80%;
  text-align: left;
}
.EBlocks_author {
  display: flex;
  flex-direction: row;
  width: auto;
}
.EBlocks_author_pic {
  position: relative;
  top: -20px;
  left: -42px;
  height: 60px;
  width: 60px;
}
.EBlocks_author_pic img {
  position: absolute;
}
.EBlocks_author_pic img[alt=author_picture] {
  width: 50px;
  top: 40%;
}
.EBlocks_author_pic img[alt=author_bg] {
  width: 70px;
  top: 25%;
  left: -13%;
}
.EBlocks_author_name h5 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 12px;
  text-align: left;
  margin: 0;
}
.EBlocks_author_name p {
  font-family: "Lato";
  font-size: 15px;
  line-height: 25px;
  color: #706f76;
  text-align: left;
  margin: 0;
}
.EBlocks_1 {
  border: 2px solid #fe7881;
  order: 1;
}
.EBlocks_2 {
  order: 0;
}
.EBlocks_2 .fa-quote-right {
  color: #109bd3;
}
.EBlocks_3 {
  order: 2;
}
.EBlocks_3 .fa-quote-right {
  color: #109bd3;
}

@media only screen and (max-width: 350px) {
  body {
    margin: 0;
    width: 100vw;
  }
  .title {
    width: 80vw;
  }
  .title h2 {
    font-size: 16px;
  }
  hr {
    width: 33vw;
  }
  .BBlocks, .DBlocks, .EBlocks {
    width: 85vw;
  }
  .BBlocks .img, .DBlocks .img, .EBlocks .img {
    width: 50%;
    height: 100px;
  }
  .BBlocks .imgBg, .DBlocks .imgBg, .EBlocks .imgBg {
    width: 70%;
    left: 19%;
  }
  .BBlocks .imgFg, .DBlocks .imgFg, .EBlocks .imgFg {
    width: 45%;
    left: 30%;
  }
  .BBlocks .img i, .DBlocks .img i, .EBlocks .img i {
    font-size: 22px;
    left: 41%;
  }
  .BBlocks h3, .DBlocks h3, .EBlocks h3 {
    font-size: 12px;
    margin: 0px;
  }
  .BBlocks h4, .DBlocks h4, .EBlocks h4 {
    font-size: 12px;
  }
  .BBlocks p, .BBlocks a, .DBlocks p, .DBlocks a, .EBlocks p, .EBlocks a {
    font-size: 11px;
    line-height: 16px;
    padding: 0 5px 5px 5px;
  }
  .BBlocks .imgTeam, .DBlocks .imgTeam, .EBlocks .imgTeam {
    width: 100%;
  }
  .BBlocks .D_socials, .DBlocks .D_socials, .EBlocks .D_socials {
    width: 50vw;
    height: 18%;
  }
  .EBlocks_author_name p {
    font-size: 10px;
    line-height: 16px;
    padding: 0 5px 5px 5px;
  }
  .EBlocks_author_pic {
    left: -38px;
  }
  .EBlocks_2, .EBlocks_3 {
    display: none;
  }
  .EBlocks_header > * {
    font-size: 14px;
    margin-top: 0;
  }
  .EBlocks_text {
    width: 90%;
  }
}
.blog {
  width: 92vw;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 100px;
}
.blog .title {
  width: 100%;
}
.blog .title hr {
  width: 40%;
  height: 5px;
  background: linear-gradient(to right, #ff8463, #fe77a1);
}
.blog .title h2 {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
}
.blog .title span {
  font-weight: 900;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.blog .container {
  width: 100%;
}
.blog .container article {
  margin-bottom: 30px;
}
.blog .container article img {
  width: 100%;
}
.blog .container article p {
  width: 100%;
  color: black;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.blog .container article div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.blog .container article div p {
  width: 50%;
  margin: 20px 0px 20px 0px;
  color: #818086;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.blog .container article button {
  display: flex;
  background-color: transparent;
}
.blog .container article button p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: #ff8463;
  margin-top: 2px;
  font-weight: 600;
}
.blog .container article button svg {
  height: 35px;
  margin: 0;
  padding: 0;
  color: #ff8463;
}

@media only screen and (min-width: 500px) {
  #reverse {
    flex-direction: row-reverse;
  }
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .about .sec {
    display: flex;
    width: 885px;
    margin-bottom: 0;
  }
  .about hr {
    position: absolute;
    margin: 15px;
    width: 17%;
  }
  .about .left {
    margin: 15px;
    width: 50%;
  }
  .about .right {
    margin: 15px;
    width: 50%;
  }
  .about .videosec {
    display: flex;
    width: 885px;
    margin-bottom: 0;
  }
  .about .videosec .left {
    margin: 15px;
    width: 50%;
    height: auto;
  }
  .about .videosec .left .back {
    width: 100%;
  }
  .about .videosec .left img {
    width: 90%;
  }
  .about .videosec .right {
    margin: 15px;
    width: 50%;
  }
  .blog .title {
    text-align: start;
  }
  .blog .title hr {
    width: 25%;
  }
  .blog .containercontainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .blog .container {
    display: flex;
    width: 885px;
    justify-content: space-between;
  }
  .blog .container article {
    margin-left: 15px;
    margin-right: 15px;
  }
}


/*# sourceMappingURL=style.css.map */
